{# templates/emails/registration.html.twig #}
Bienvenue sur Service Plus, <b>{{ user.name }}!</b>

<p>Merci pour votre confiance.</p> 

<p>Veuillez utiliser le code suivant pour vérifier votre compte :</p>
<h4>{{ verificationCode }}</h4>
